.power-module-display {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  background: var(--light-grey-gradient);
  border: 1px solid var(--main-grey);
  width: 50vw;
  border-radius: 5px;
}

.power-module-display:hover {
  background: var(--light-grey-gradient-hover);
}

.power-module-state {
  display: flex;
  flex-direction: column;
}