.parameters-display {
  display: flex;
}

.voltage-display,
.current-draw-display {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 10px;
  gap: 30px;
  margin-bottom: 30px;
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid #d0d0d0;
}

.obc {
  margin-right: 30px;
}

.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.parameter-value {
  font-size: 30px;
  font-weight: 600;
}
