.parameter {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 30px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: var(--black);
  border: 1px solid var(--main-grey);
}

.obc {
  margin-right: 30px;
}

.payload-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--main-blue);
  font-weight: 600;
}

.parameter-value {
  font-size: 30px;
  font-weight: 600;
}
