.notifications {
  margin-left: 40px;
  min-width: 200px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: var(--black);
  border: 1px solid var(--main-grey);
}

.notification-title {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.notification {
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  min-height: 40px;
  color: var(--black);
}

.full-charge {
  border: 2px solid var(--dark-green);
  background-color: var(--light-green);
}

.low-voltage {
  border: 2px solid var(--dark-red);
  background-color: var(--light-red);
}

.high-current-draw {
  border: 2px solid var(--dark-yellow);
  background-color: var(--light-yellow);
}